{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content|safe }}</p>
      <form action="" method=POST>
        {% csrf_token %}
      <button type="submit" class="glyphicon glyphicon-thumbs-up btn btn-outline-primary btn-sm mt-7 " name="like" value={{post.id}}> like</button>
      <button type="submit" class="glyphicon glyphicon-thumbs-down btn btn-outline-primary btn-sm mt-7 " name="dislike" value={{post.id}}> dislike</button>
      <span>{{likes}}</span>
      </form>
    </div>  
  </article>
{% endblock content %}
